* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #e9e3e3;
  letter-spacing: 1px;
  height: 100%;
  position: relative;
}

a {
  color: #e9e3e3;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #e32124;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

.nav-item .nav-link {
  white-space: nowrap;
}

/* HEADER  */
.dropdown-menu.show {
  background-color: #131212;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: #e32124;
  background-color: #131212;
}

div.container.cont-nav {
  background: #131212;
  padding: 1% 2%;
}

header.navbar {
  z-index: 5;
}

.navbar {
  padding-top: 0;
  position: fixed;
  top: 0;
}

nav {
  width: 100%;
  background: #131212;
}

.picture-logo-nav {
  margin: 6% 0 0 3%;
  height: 2rem;
  width: auto;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e9e3e3;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.summary-link:hover {
  color: #e32124;
}

/* SECTION SUMMARY  */
section.summary {
  text-align: center;
  background: #131212;
}

.cont-img-logo-summary {
  margin: 10% 0;
}

.picture-logo-summary {
  height: 3.5rem;
  width: auto;
}

.container-summary {
  background: #131212;
  padding-bottom: 3%;
  margin-top: 30%;
}

.summary-location {
  margin: 0;
}

.day {
  padding: 0 1rem;
  text-align: left;
}

.opening-hours {
  margin: 0 auto;
}

.tittle-info-summary {
  margin-top: 5%;
  font-weight: bold;
  text-transform: uppercase;
}

.summary-link i {
  margin-right: 2%;
}

/* FOOTER */
.hr-standard {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 100;
  margin: 0x;
}

.hr-standard::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ca0707), to(transparent));
  background: linear-gradient(to right, transparent, #ca0707, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  margin: 0px;
}

.hr-standard::after {
  position: relative;
  display: inline-block;
  color: black;
  padding: 0.5em;
  line-height: 1.5em;
  color: #ca0707;
  background-color: #131212;
}

.na-chwile {
  line-height: 0em;
  color: #131212;
  margin: 0;
  opacity: 1000;
}

.na-chwile::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ca0707), to(transparent));
  background: linear-gradient(to right, transparent, #ca0707, transparent);
  position: absolute;
  left: 0;
  top: 96%;
  width: 100%;
  height: 1px;
  margin: 0px;
}

.na-chwile::after {
  position: relative;
  display: inline-block;
  color: black;
  padding: 0.5em;
  line-height: 1.5em;
  color: #ca0707;
  background-color: #131212;
}

footer {
  text-align: center;
  color: #e9e3e3;
  background: #131212;
}

footer p {
  margin: 0;
  padding: 1em 1em;
  color: #e9e3e3;
}

.background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 42vh;
  width: auto;
  margin-top: 12%;
}

.price-list {
  margin-top: 10%;
  color: black;
}

h2 {
  text-align: center;
}

.price-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}

.price-service h5 {
  margin: 0;
}

.container-separetion {
  position: relative;
  width: 70%;
  padding-left: 1%;
  margin-right: 2%;
}

.price-seperation {
  border-bottom: 2px dotted #434345;
  border-style: dotted;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  margin: 0px 10px 0px 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
}

.price-item {
  color: #e32124;
}

.more-info,
.valid-info {
  color: #999999;
}

.valid-info {
  margin-top: 4%;
}

.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo {
  text-decoration: line-through;
}

.promo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=global.css.map */