@media (min-width: 768px) {
  .container-summary {
    margin-top: 16%;
  }
}

@media (min-width: 992px) {
  ul.navbar-nav {
    padding-left: 15%;
  }
  .picture-logo-nav {
    margin: 6% 0 0 10%;
  }
  .about-salon {
    padding-top: 3%;
  }
  .cont-img-logo-summary {
    padding-top: 4.3%;
    margin: 0;
  }
  .container-summary {
    margin-top: 7%;
  }
}

@media (min-width: 1200px) {
  ul.navbar-nav {
    padding-left: 36%;
  }
  .picture-logo-nav {
    margin: 6% 0 0 44%;
  }
  .container-summary {
    margin: 7% 6% 0;
  }
}

@media (min-width: 576px) {
  .img-box img {
    width: 50%;
  }
  img.p1,
  img.p2,
  img.p3 {
    margin-left: 26%;
    margin-right: 26%;
  }
  .subpage-mak-perm {
    right: 30%;
  }
  .subpage {
    right: 38%;
  }
}

@media (min-width: 714px) {
  .subpage-mak-perm {
    right: 32%;
  }
  .subpage-kosm {
    right: 40%;
  }
  .subpage-fryz {
    right: 39%;
  }
  .animal-testing p {
    margin: 4% auto 0;
  }
}

@media (min-width: 768px) {
  .background {
    height: 114vh;
    margin-top: -15%;
  }
  .services-container {
    margin-top: -380px;
  }
  .img-box img {
    width: 40%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    margin-top: 17%;
  }
  img.p1,
  img.p2,
  img.p3 {
    margin: 0 30%;
  }
  .subpage-mak-perm {
    right: 36%;
  }
  .subpage-kosm {
    right: 41%;
  }
  .subpage-fryz {
    right: 41%;
  }
  .animal-testing p {
    margin: 4% auto 0;
  }
  .promo {
    margin: 4% 0;
  }
  .carousel {
    width: 86vw;
    height: 62vh;
  }
  .carousel-container {
    margin: 8% 3%;
  }
}

@media (min-width: 992px) {
  .background {
    height: 122vh;
    margin-top: -5%;
  }
  .services-container {
    margin-top: -465px;
  }
  .subpage-mak-perm {
    right: 38%;
  }
  .subpage-kosm {
    right: 43%;
  }
  .subpage-fryz {
    right: 42%;
  }
  .about-us {
    width: 78%;
  }
  .container-cosmetic {
    margin-top: 4%;
    width: 78%;
  }
  .wrapper-cosmetic {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .loreal .text-cosmetic,
  .purles .text-cosmetic,
  .thalgo .text-cosmetic {
    margin: 0 auto;
  }
  .info-cosmetics {
    margin-top: 10%;
  }
  .animal-testing p {
    margin: 4% auto 0;
  }
  .carousel {
    width: 77vw;
  }
  .carousel-container {
    margin: 4% 8%;
  }
  .about-us {
    margin: 6% auto;
  }
}

@media (min-width: 1200px) {
  .background {
    margin-top: -140px;
  }
  .services-container {
    margin-top: -360px;
    margin-left: 5%;
    margin-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }
  .img-box img {
    width: 70%;
    height: auto;
    margin: 30% 0 0;
  }
  img.p1,
  img.p2,
  img.p3 {
    margin-top: 0;
  }
  .subpage-mak-perm {
    right: 24%;
  }
  .subpage-kosm {
    right: 35%;
  }
  .subpage-fryz {
    right: 34%;
  }
  .subpage-mak-perm,
  .subpage-kosm,
  .subpage-fryz {
    top: -82%;
  }
  .animal-testing p {
    margin: 4% auto 0;
  }
  .img-cosmetic {
    margin: 0;
  }
  .carousel {
    width: 58vw;
  }
  .carousel-container {
    margin: 3% 20%;
  }
  .about-us {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=index-media.css.map */