/* 576px, 768px, 992px, and 1200px */

@media (min-width: 992px) {
	ul.navbar-nav {
		padding-left: 20%;
	}
	.picture-logo-nav {
		margin: 6% 0 0 10%;
	}
	.about-salon {
		padding-top: 3%;
	}
	.cont-img-logo-footer {
		padding-top: 4.3%;
		margin: 0;
	}
}

@media (min-width: 1200px) {
	ul.navbar-nav {
		padding-left: 36%;
	}
	.picture-logo-nav {
		margin: 6% 0 0 44%;
	}
}
