* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Quicksand", sans-serif;
	color: rgb(233, 227, 227);
	letter-spacing: 1px;
	/* background-color: #333; */
	height: 100%;
	position: relative;
}

.background {
	filter: blur(3px);
	max-width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-image: url(../Assets/img/tlo3.1.jpg);
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
}

a {
	color: rgb(233, 227, 227);
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: #e32124;
}

ul {
	padding: 0;
	list-style-type: none;
}

.nav-item .nav-link {
	white-space: nowrap;
}

/* HEADER  */

div.container.cont-nav {
	background: rgb(19 18 18);
	padding: 1% 2%;
}
header.navbar {
	z-index: 1;
}

.navbar {
	padding-top: 0;
	position: fixed;
	top: 0;
}

nav {
	width: 100%;
	background: rgb(19 18 18);
}

.picture-logo-nav {
	margin: 6% 0 0 3%;
	height: 2rem;
	width: auto;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgb(233, 227, 227);
	transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.summary-link:hover {
	color: #e32124;
}

/* SECTION services */

section.services {
	/* height: 100%; */
	/* width: auto; */
	margin-top: 5%;
}

.services-container {
	z-index: 1;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 100%;
	width: auto;
	overflow: hidden;
}

.permament .img-box {
	position: relative;
}

.img-box {
	z-index: 2;
	top: 0;
	width: 100%;
	height: 100%;
}

.img-box img {
	width: 60%;
	height: auto;
	/* margin: 30% 20% 0 20%; */
	object-fit: cover;
	object-position: 50% 50%;
	/* border-radius: 4%; */
	z-index: 3;
}

img.p1 {
	margin: 35% 20% 0;
}

img.p2 {
	margin: 30% 20% 0;
}

img.p3 {
	margin: 30% 20% 0;
}

.cont-subpage {
	/* position: relative; */
	text-align: center;
	padding-bottom: 3%;
}

.subpage {
	/* position: relative; */
	padding: 2% 3%;
	background-color: rgb(19 18 18);
}

/* SECTION SUMMARY  */

section.summary {
	text-align: center;
	background: rgb(19 18 18);
}

.cont-img-logo-summary {
	margin: 10% 0;
}

.picture-logo-summary {
	height: 3.5rem;
	width: auto;
}

.container-summary {
	background: rgb(19 18 18);
	padding-bottom: 3%;
	margin-top: 30%;
}

.summary-location {
	margin: 0;
}

.day {
	padding: 0 1rem;
	text-align: left;
}
.opening-hours {
	margin: 0 auto;
}

.tittle-info-summary {
	margin-top: 5%;
	font-weight: bold;
	text-transform: uppercase;
}

.summary-link i {
	margin-right: 2%;
}

/* FOOTER */

footer {
	text-align: center;
	color: rgb(233, 227, 227);
	background: rgb(19 18 18);
}

footer p {
	margin: 0;
	padding: 1em 1em;
	color: rgb(233, 227, 227);
}
