@import "global-media.scss";
@media (min-width: 576px) {
	.background {
		height: 48vh;
		margin-top: 10%;
	}
}

@media (min-width: 768px) {
	.background {
		height: 56vh;
		margin-top: 9%;
	}

	.women-zone,
	.men-zone {
		margin-left: 8%;
		margin-right: 8%;
	}
}

@media (min-width: 992px) {
	.background {
		height: 63vh;
		margin-top: 7%;
	}

	.women-zone {
		margin-top: -2%;
	}
}
@media (min-width: 1200px) {
	.background {
		height: 70vh;
		margin-top: 4%;
	}
	.price-list {
		margin: 10%;
	}
}
