$red: #e32124;
$black: #131212;
$grey: #e9e3e3;
$white: #f7f2f2;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Quicksand", sans-serif;
	color: $grey;
	letter-spacing: 1px;
	height: 100%;
	position: relative;
}

a {
	color: $grey;
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: $red;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	list-style-type: none;
}

.nav-item .nav-link {
	white-space: nowrap;
}

/* HEADER  */

.dropdown-menu.show {
	background-color: $black;
}

.dropdown-item {
	color: white;
}

.dropdown-item:hover {
	color: $red;
	background-color: $black;
}

div.container.cont-nav {
	background: $black;
	padding: 1% 2%;
}
header.navbar {
	z-index: 5;
}

.navbar {
	padding-top: 0;
	position: fixed;
	top: 0;
}

nav {
	width: 100%;
	background: $black;
}

.picture-logo-nav {
	margin: 6% 0 0 3%;
	height: 2rem;
	width: auto;
}

.navbar-dark .navbar-nav .nav-link {
	color: $grey;
	transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.summary-link:hover {
	color: $red;
}

/* SECTION SUMMARY  */

section.summary {
	text-align: center;
	background: $black;
}

.cont-img-logo-summary {
	margin: 10% 0;
}

.picture-logo-summary {
	height: 3.5rem;
	width: auto;
}

.container-summary {
	background: $black;
	padding-bottom: 3%;
	margin-top: 30%;
}

.summary-location {
	margin: 0;
}

.day {
	padding: 0 1rem;
	text-align: left;
}
.opening-hours {
	margin: 0 auto;
}

.tittle-info-summary {
	margin-top: 5%;
	font-weight: bold;
	text-transform: uppercase;
}

.summary-link i {
	margin-right: 2%;
}

.instagram i {
	font-size: 20px;
	margin-top: 7%;
}

.row {
	width: 100%;
}

/* FOOTER */

.hr-standard {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: 100;
	margin: 0x;
}

.hr-standard::before {
	content: "";
	background: linear-gradient(
		to right,
		transparent,
		rgb(202, 7, 7),
		transparent
	);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	margin: 0px;
}

.hr-standard::after {
	position: relative;
	display: inline-block;
	color: black;
	padding: 0.5em;
	line-height: 1.5em;
	color: rgb(202, 7, 7);
	background-color: #131212;
}

.na-chwile {
	line-height: 0em;
	color: #131212;
	margin: 0;
	opacity: 1000;
}

.na-chwile::before {
	content: "";
	background: linear-gradient(
		to right,
		transparent,
		rgb(202, 7, 7),
		transparent
	);
	position: absolute;
	left: 0;
	top: 96%;
	width: 100%;
	height: 1px;
	margin: 0px;
}

.na-chwile::after {
	position: relative;
	display: inline-block;
	color: black;
	padding: 0.5em;
	line-height: 1.5em;
	color: rgb(202, 7, 7);
	background-color: #131212;
}

footer {
	text-align: center;
	color: $grey;
	background: $black;
}

footer p {
	margin: 0;
	padding: 1em 1em;
	color: $grey;
}

.background {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 42vh;
	width: auto;
	margin-top: 12%;
}

.price-list {
	margin-top: 10%;
	color: black;
}

h2 {
	text-align: center;
}

.price-service {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	flex-wrap: nowrap;
	white-space: nowrap;
}

.price-service h5 {
	margin: 0;
}

.container-separetion {
	position: relative;
	width: 70%;
	padding-left: 1%;
	margin-right: 2%;
}

.price-seperation {
	border-bottom: 2px dotted #434345;
	border-style: dotted;
	border-bottom-width: 1px;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	align-self: left;
	margin: 0px 10px 0px 10px;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
}

.price-item {
	color: $red;
}

.more-info,
.valid-info {
	color: #999999;
}

.valid-info {
	margin-top: 4%;
}

.more-info {
	display: flex;
}

.promo {
	text-decoration: line-through;
}

.promo-container {
	display: flex;
	justify-content: space-between;
}
