@import "global-media.scss";

@media (min-width: 576px) {
	.img-box img {
		width: 50%;
	}

	img.p1 {
		margin-left: 26%;
		margin-right: 26%;
	}

	img.p2 {
		margin-left: 26%;
		margin-right: 26%;
	}

	img.p3 {
		margin-left: 26%;
		margin-right: 26%;
	}
}

@media (min-width: 768px) {
	.img-box img {
		width: 40%;
		height: auto;
		object-fit: cover;
		object-position: 50% 50%;
	}
	img.p1 {
		margin: 18% 30% 0;
	}

	img.p2 {
		margin: 16% 30% 0;
	}

	img.p3 {
		margin: 16% 30% 0;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.services-container {
		margin-left: 5%;
		margin-right: 5%;
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		text-align: center;
	}

	.img-box img {
		width: 70%;
		height: auto;
		margin: 30% 0 0;
	}
}
