@import "global-media.scss";
@media (min-width: 576px) {
	.background {
		height: 56vh;
		margin-top: 9%;
	}
}

@media (min-width: 768px) {
	.background {
		height: 67vh;
		margin-top: 8%;
	}

	.hands-and-feet-zone,
	.eye-zone,
	.make-up-zone,
	.relaxation-zone,
	.wax-depilation-zone,
	.face-zone,
	.thalgo-treatments,
	.another {
		margin-left: 8%;
		margin-right: 8%;
	}
}

@media (min-width: 992px) {
	.background {
		height: 60vh;
		margin-top: 7%;
	}

	.hands-and-feet-zone {
		margin-top: -2%;
	}
}
@media (min-width: 1200px) {
	.background {
		height: 70vh;
		margin-top: 4%;
	}
	.price-list {
		margin: 10%;
	}
}
