@import "global.scss";

.background {
	background-image: url(../Assets/img/tlo.hairdressing.jpg);
}

.permanent-makeup-zone-anchor {
	margin: 2% 6%;
}

.permanent-makeup-zone-anchor {
	margin-top: 8%;
}

.container-more-info {
	margin-top: 1%;
}
