* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: rgb(233, 227, 227);
	padding: 0 15%;
	letter-spacing: 1px;
}

a {
	color: rgb(233, 227, 227);
	text-decoration: none;
}

h5 {
	margin-top: 5%;
	/* padding-top: 5%; */
	font-weight: bold;
	text-transform: uppercase;
	/* text-align: center; */
}

nav {
	background: rgb(19 18 18);
}

.navbar {
	justify-content: center;
	padding-top: 0;
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(233, 227, 227);
}

.navbar-light .navbar-nav .nav-link:hover,
.footer-link:hover {
	color: #e32124;
}

.nav-link .dropdown-toggle .navbar-brand {
	width: 20%;
}

.picture-logo {
	height: auto;
	width: 5rem;
}

footer {
	text-align: center;
}

footer img {
	height: 3.5rem;
	width: auto;
}

.footer-logo {
	margin-top: 30%;
	margin-left: 10%;
}

ul {
	padding: 0;
}

ul li {
	list-style-type: none;
}

.container {
	background: rgb(19 18 18);
	padding-bottom: 1%;
}

.day {
	padding: 0 1rem;
	/* text-align: center; */
}

table {
	margin: 0 auto;
}
